/*
.p-component {
    color: var(--text-primary);
    background: var(--background);
}

.p-inputtext {
    background: var(--surface);
    border-color: var(--primary-200);
}

.p-button {
    background: var(--primary-500);
    border-color: var(--primary-600);
}

.p-button:hover {
    background: var(--primary-600);
}
*/